<!doctype html>
<html lang="en" class="normal_page">
<head>
	<meta charset="utf-8">
	<title>{{ title_text }} | telemetry.ton</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
	<s1>Admin keys len: {{admin_keys_len}}</s1>
	<form action="/new_admin" method="post" autocomplete="off">
		<input type="hidden" name="redirect_url" value="{{redirect_url}}">
		<input name="new_admin_key" type="text" placeholder="New admin key">
		<input type="submit" class="button" value="Add">
	</form>
</body>

</html>
