<!doctype html>
<html lang="en" class="normal_page">
<head>
	<meta charset="utf-8">
	<title>Check ADNL | telemetry.ton</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
	<s1>Check ADNL:</s1>
	<form action="/adnl_check" method="post" autocomplete="off">
		<input name="host" type="text" placeholder="host">
		<input name="port" type="text" placeholder="port">
		<input name="pubkey" type="text" placeholder="pubkey">
		<input type="submit" class="button" value="Check">
	</form>
</body>

</html>
